<app-navbar></app-navbar>
<div class="welnote">
    <h1 class="note">welcome  to  the  kame  restaurant</h1>
</div>
<div class="text">
    
    <h3 class="innertext">welcome to the each and every person to experience the taste of heaven,The delicous food will actually gives you all the relief that 
        will never experience on other things.In our restaurant we focus on the customer satisfaction,we never ever disappoint our customer with our quality any quantity of our nourishments.Thankyou and visit again  </h3>
</div>

